.cen {
    text-align: center;
    border: 3px solid black;
    background-color: white;
    margin: auto;
    padding: 20px;
    size: fixed;
  }

  h1 {
    border: 3px solid black;
    background-color: white; 
    text-align: center;
    font-size: 60px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }