<br />
<h1>About</h1>
<br />
<br />
<br />
<div class="cover">
    <p class ="cen">
        Welcome to Stream Snipers!
    </p>
    <p class ="cen">
        The goal of this project was to provide users with easy viewing access to which streaming services contain which shows.
    </p>
    <p class ="cen">
        This project was created to be used in the revature .NET full stack developer training program for project 2.
    </p>
    <p class ="cen">
        The Github repository for this project can be found <a href="https://github.com/211004-Reston-NET/StreamSnipers">HERE</a>.
    </p>
    <p class ="cen">
        Created by Colin Mudie, Jacob Williams, Chase Henry, and Ayogh Agborbesong
    </p>
</div>
<br />