<!DOCTYPE html>
<h1 p> Stream Snipers</h1>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div>
    <button class="btn btn-primary text-white" >Home</button>
    <button class="btn btn-primary text-white" >Favorites</button>
</div>

<div class="text-sm-left">
    <p>
        <select>
            <option>All</option>
            <option>Genre</option>
            <option>Platform</option>
        </select> 
        <input type="submit" value="Search" />
    </p>
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>Favorite</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Platform</th>
    </tr>
    <tr>
        <th>
            <button mat-icon-button (click)="toggleSelected()">
                <i class="material-icons">favorite</i> 
            </button>
        </th>
        <th>Shawshank Redemption</th>
        <th>Mystery</th>
        <th>A man attempts to escape from prison.</th>
        <th>4.5/5</th>
        <th>Hulu</th>
        <th>
            <button class="btn btn-primary text-white" >Reviews</button>
        </th>
    </tr>
    <tr>
        <th>
            <app-favorite-button></app-favorite-button>
        </th>
        <th>Avengers: Endgame</th>
        <th>Action</th>
        <th>The Avengers fight Thanos to save the universe.</th>
        <th>4.7/5</th>
        <th>Netflix</th>
        <th>
            <button class="btn btn-primary text-white" >Reviews</button>
        </th>
    </tr>
    <tr>
        <th>
            <button mat-icon-button (click)="toggleSelected()">

                <mat-icon
                  *ngIf="selected"
                  class="material-icons">
                  favorite
                </mat-icon>
              
                <mat-icon
                  *ngIf="!selected"
                  class="material-icons">
                  favorite_border
                </mat-icon>
              
              </button>
        </th>
        <th>Cinderella</th>
        <th>Youth</th>
        <th>A disney princess discovers she has no troubles.</th>
        <th>3.7/5</th>
        <th>Disney+</th>
        <th>
            <button class="btn btn-primary text-white" >Reviews</button>
        </th>
    </tr>
</table>