<!DOCTYPE html>
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
<h1>Stream Snipers</h1>


<div class="center">
    <button>Home</button>
    <button>Favorites</button>
    <button>Profile</button>
    <button>LogOut</button>
</div>

<div class="text-sm-left">
    <p class = "search">
        <select>
            <option>All</option>
            <option>Genre</option>
            <option>Platform</option>
        </select> 
        <input class="bar" type="text" placeholder="Search..." />
        <button type="submit"><i class="submit">Submit</i></button>
    </p>
</div>
<br />
<br />
<br />
<div class="cover">
    <p class ="cen">
        Welcome to Stream Snipers!
    </p>
    <p class ="cen">
        This platform allows you to find which streaming service has the shows that you want to watch.
    </p>
    <p class ="cen">
        Here you have the ability to search up any show, sort by genre, add a show to your favorites list, and more!
    </p>
    <p class ="cen">
        Some more meaningless text can go here to fill page space! You could even add images!
    </p>
</div>
</body>