<!DOCTYPE html>
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
<h1>Stream Snipers</h1>
<br />
<div class="text-sm-left">
    <form class= "search">
        <select>
            <option>All</option>
            <option>Genre</option>
            <option>Platform</option>
        </select> 
        <input class="bar" type="text" id="searchtext" name="searchtext" #searchtext placeholder="Search..." />
        <button type="submit" (click)="imdbSearch(searchtext.value)" action="/FrontendAngular/src/app/Search/search/search.component.html"><i class="submit">Submit</i></button>
    </form>
</div>
<br>
<div class="container"*ngIf="movieTitleSrc">
    <div class="row">
        <div class="col-md-6"> <!--can add padding in quotes here-->
            <img class="center-block img-fluid" style="width: 450px; height: 500px;"[src]= "movePosterSrc"> 
        </div>
        <br/>
        <div class="col-md-6">
            <div class="card center-block img-fluid" style="width: 30rem;">
                <div class="card-body img-fluid" style="width: 500px; height: 500px;">
                  <h5 class="card-title">{{ movieTitleSrc }}</h5>
                  <p class="card-text">{{movieDescriptionSrc}}</p>
                  <p class="card-text">{{movieReleaseDateSrc}}</p>
                  <p class="card-text">{{movieRuntimeSrc}}</p>
                  <p class="card-text">{{movieAwardsSrc}}</p>
                </div>
              </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<div class="cover">
    <p class ="cen">
        Welcome to Stream Snipers!
    </p>
    <p class ="cen">
        This platform allows you to find which streaming service has the shows that you want to watch.
    </p>
    <p class ="cen">
        Here you have the ability to search up any show, sort by genre, add a show to your favorites list, and more!
    </p>
    <p class ="cen">
        Some more meaningless text can go here to fill page space! You could even add images!
    </p>
</div>
<br />
</body>

